@font-face {
  font-family: "Squada One", serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SquadaOne-Regular.ttf");
}
@font-face {
  font-family: "Italianno", serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Italianno-Regular.ttf");
}
@font-face {
  font-family: "Bokor", serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Bokor-Regular.ttf");
}
